@import 'variables';
@import 'custom'; //bootstrap override > bootstrap
@import 'mixins';
@import 'header';


// ショーケース
.showcase {
  position: relative;
  background: url(https://miharu828/book/img/space_mountain.jpg) center bottom;
  background-size: cover;
  min-height: 620px;

  
  @include media-breakpoint-down(md) {
    min-height: 860px;

    &-title {
      font-size: 2.4rem;
    }
  }



  &-cover {
    max-width: 300px;
  }
}


// ABOUT
.about {
  //魅力
  &-attractions {
    i {
     transition: all .4s;
    }
  }
  &-attractions-header.collapsed {
    background-color: $primary;
    color: $white;

    i {
      transform: rotateX(180deg);
    }
  }
}


// 著者
.authors {

  &-card {

    &:hover {
      background-color: $primary;
      color: $white;
    }


    &:hover i {
      color: $white;

  }
}
}
